.box{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
}

.box1{
    background-image: url(../assets/vue.png);
}
.box2{
    background-image: url(../assets/react.png);
}
.box3{
    background-image: url(../assets/angular.png);
}